* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100dvh;
    background-color: dimgray;
    display: grid;
    grid-template-rows: 75px 1fr;
    background-image: url("./img/bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 100%;
    align-items: center;
}

nav>button,
.homeButton {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(10, 10, 10, 0.8);
    border: 2px solid rgb(192, 165, 137);;
    border-radius: 20px 5px 20px 5px;
    transition: all 0.2s;
}

nav>button:hover:not(.active),
.homeButton:hover {
    box-shadow: 0px 0px 10px 2px rgb(192, 165, 137);
    cursor: pointer;
}

nav>button.active {
    background: rgba(40, 40, 40, 0.8);
    border-radius: 5px 20px 5px 20px;
}

#content {
    background-origin: border-box;
}

/* HOME PAGE */

.mainContainer {
    height: 100%;
}

.homeContainer {
    min-width: 950px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.home {
    color: white;
    text-shadow: white 0px 0px 5px;
    font-family: fantasy;
}

.textContainer.home {
    text-align: center;
    grid-row-start: 2;
}

.buttonContainer.home {
    grid-row-start: 3;
    display: flex;
    gap: 2rem;
    align-self: baseline;
}

.homeButton {
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 2rem;
    background-color: rgba(40, 40, 40, 0.8);
    border-style: double;
    border: 5px double rgb(192, 165, 137);
}

.homeButton:hover {
    transform: scale(1.03);
}

.homeButton:active {
    transform: scale(0.95);
}

.smallText {
    font-size: 2rem;
}

.mediumText {
    font-size: 5rem;
}

.largeText {
    font-size: 7rem;
}

/* END */

/* MENU PAGE */

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.menu {
    height: 100%;
    width: 700px;
    background-color: rgb(25, 30, 44);
    border: 2px solid rgb(192, 165, 137);
    padding: 10px;
}

.menuWrapper {
    border: 2px solid rgb(192, 165, 137);
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 25px;
    gap: 25px;
}

.menuTitle {
    color: rgb(168, 180, 181);
    font-size: 1rem;
}

.entreesSection {
    grid-row: span 3;
}

/* END */

/* ABOUT PAGE */

.aboutContainer {
}

/* END */