* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100dvh;
    background-color: dimgray;
    display: grid;
    grid-template-rows: 75px 1fr;
    background-image: url("./img/bgimage.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

header {
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 100%;
    align-items: center;
}

nav>button,
.homeButton {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(10, 10, 10, 0.8);
    border: 2px solid rgb(192, 165, 137);;
    border-radius: 20px 5px 20px 5px;
    transition: all 0.2s;
}

nav>button:hover:not(.active),
.homeButton:hover {
    box-shadow: 0px 0px 10px 2px rgb(192, 165, 137);
    cursor: pointer;
}

nav>button.active {
    background: rgba(40, 40, 40, 0.8);
    border-radius: 5px 20px 5px 20px;
}

#content {
    background-origin: border-box;
}

/* HOME PAGE */

.mainContainer {
    height: 100%;
}

.homeContainer {
    min-width: 950px;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.home {
    color: white;
    text-shadow: white 0px 0px 5px;
    font-family: fantasy;
}

.textContainer.home {
    text-align: center;
    grid-row-start: 2;
}

.buttonContainer.home {
    grid-row-start: 3;
    display: flex;
    gap: 2rem;
    align-self: baseline;
    padding: 5px;
}

.homeButton {
    border-radius: 0;
    padding: 10px;
    width: fit-content;
    font-size: 1.5rem;
    background-color: rgba(40, 40, 40, 0.8);
    border: 2px solid rgb(192, 165, 137);
    color:rgb(208, 220, 221);
    
}

.homeButton:hover {
}

.homeButton:active {
    transform: scale(0.95);
}

.smallText {
    font-size: 2rem;
}

.mediumText {
    font-size: 5rem;
}

.largeText {
    font-size: 7rem;
}

/* END */

/* MENU PAGE */

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.menu {
    width: 700px;
    background-color: rgb(15, 20, 34);
    border: 2px solid rgb(192, 165, 137);
    padding: 10px;
}

.menuWrapper {
    border: 2px solid rgb(192, 165, 137);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
    gap: 25px;
}

.rightMenu,
.leftMenu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.rightMenu {
    gap: 50px;
}

.menuTitle {
    color: rgb(168, 180, 181);
    font-size: 1rem;
    font-family: fantasy;
}

.entreesSection {
    grid-row: span 3;
}

.menuSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuItem {
    display: flex;
    flex-wrap: wrap;
    color: rgb(192, 165, 137);
}

.menuItemTitle {
    padding-right: 10px;
    font-weight: 900;
    font-family: fantasy;
}

.menuItemPrice {
    font-style: italic;
    font-family: fantasy;
}

.menuItemBottlePrice {
    font-family: fantasy;
    font-style: italic;
}

.menuItemDescription {
    font-size: 1rem;
    width: 100%;
    font-style: italic;
    font-family: fantasy;
}

.menuItem.wine {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
}

.menuItem.wine>.menuItemPrice,
.menuItem.wine>.menuItemBottlePrice {
    justify-self: center;
}

.wineSectionHeader {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
}

.wineSectionHeader>.menuTitle {
    grid-column-start: 1;
    grid-row-start: 1;
}

.winePriceContainer {
    width: 100%;
    grid-column-start: 2;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.gold {
    font-size: 1rem;
    font-family: fantasy;
    color: rgb(192, 165, 137);
}

/* END */

/* ABOUT PAGE */

.aboutContainer {
}

/* END */